In [184]:
#py_time_series_introspect.ipynb
import pandas as  pd            
import os
datafile='clean_polling_data.csv'

#useful if you want the directory this script is in
if '__file__' in dir():
    path, _=os.path.split(__file__)  
else: path=os.getcwd() 
    
filename=os.path.join(path, datafile)
df=pd.read_csv(filename, parse_dates=[0]) #dialect defaults to Excel
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 7 columns):
date          88 non-null datetime64[ns]
poll          88 non-null object
size          88 non-null int64
stype         88 non-null object
approve       88 non-null int64
disapprove    88 non-null int64
spread        88 non-null int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 4.9+ KB

In [185]:
#pandas has several default output formattion options - here are a couple:
pd.set_option('display.max_rows', 4)  #default for head(), tail(), etc.
pd.set_option('display.width', 500)   #keeps columns from wrapping
df.set_index('date', inplace=True)
df.head(3)                            #argument overrides max_rows

                          poll  size stype  approve  disapprove  spread
date
2017-04-24   Rasmussen Reports  1500    LV       47          53      -6
2017-04-23              Gallup  1500     A       40          54     -14
2017-04-20  ABC News/Wash Post  1004     A       42          53     -11

In [186]:
ser=df['poll']
print(type(ser))
ser.head(3)

<class 'pandas.core.series.Series'>

date
2017-04-24     Rasmussen Reports
2017-04-23                Gallup
2017-04-20    ABC News/Wash Post
Name: poll, dtype: object

In [187]:
ser.iloc[3]
unique=ser.unique()
unique.sort()
print('found {} unique items:\n{}'.format(len(unique), unique))

found 19 unique items:
['ABC News/Wash Post' 'CBS News' 'CNBC' 'CNN/ORC' 'Economist/YouGov'
 'Emerson' 'FOX News' 'Gallup' 'IBD/TIPP' 'Marist' 'McClatchy/Marist'
 'Monmouth' 'NBC News/Wall St. Jrnl' 'PPP (D)' 'Pew Research' 'Quinnipiac'
 'Rasmussen Reports' 'Reuters/Ipsos' 'USA Today/Suffolk']

In [188]:
ser=pd.Series(df['spread'])
ser.head(3)

date
2017-04-24    -6
2017-04-23   -14
2017-04-20   -11
Name: spread, dtype: int64

In [189]:
df['spread'].values

array([ -6, -14, -11, -14,  -7,  -6, -16,  -9, -10,  -9, -11,  -6,  -6,
       -10,  -9, -10,  -8,  -7,  -4, -22, -13, -22, -24, -12,  -5, -12,
        -5, -13, -15,  -8,  -5,   0, -19,  -5,  -8, -14,  -9,  -4,  -7,
        -6, -11,  -2,   2, -11,  -2,   3,  -7,  -6, -12,  -9,   0,  -2,
        -3,  -4, -12, -10,   2,  -5,   0, -17,  -8, -13,  -3,   6,   1,
        -4, -12, -10,  -5,  -9,   1,   6,   1,  -9,  -8,  -9,  -6,  -2,
        -9,   6,   2,  -1,   4,   0,  -8,   1,  14,  -2], dtype=int64)

In [190]:
first_val=ser[0]      #record the original value
ser[0]=9999
df.head(3)

                          poll  size stype  approve  disapprove  spread
date
2017-04-24   Rasmussen Reports  1500    LV       47          53    9999
2017-04-23              Gallup  1500     A       40          54     -14
2017-04-20  ABC News/Wash Post  1004     A       42          53     -11

In [191]:
#restore to original
ser[0]=first_val                 
#decoupled Series from copy of DataFrame
ser_1=pd.Series(df['spread'].copy().values)    
ser_1.index=df.index
ser_1[0]=999
df.head(3)

                          poll  size stype  approve  disapprove  spread
date
2017-04-24   Rasmussen Reports  1500    LV       47          53      -6
2017-04-23              Gallup  1500     A       40          54     -14
2017-04-20  ABC News/Wash Post  1004     A       42          53     -11

In [192]:
ser_1.head(3)

date
2017-04-24    999
2017-04-23    -14
2017-04-20    -11
dtype: int64

In [193]:
pd.set_option('display.max_rows', 10) 
print(ser.describe())

count    88.000000
mean     -6.625000
std       6.583352
min     -24.000000
25%     -10.250000
50%      -7.000000
75%      -2.000000
max      14.000000
Name: spread, dtype: float64

In [194]:
print("max index is:  {}".format(ser_1.index.max()))
print("min index is:  {}".format(ser_1.index.min()))

max index is:  2017-04-24 00:00:00
min index is:  2017-01-24 00:00:00

In [195]:
ser_1.nsmallest(3)      #also nlargest

date
2017-03-28   -24
2017-04-03   -22
2017-03-30   -22
dtype: int64

In [196]:
print("number of unique values:  {}".format(ser_1.nunique()))
print("monotonic?  {}".format( ser_1.is_monotonic))
print("time series:  {}".format(ser_1.index.is_all_dates))
print("any NaN?  {}".format(ser_1.hasnans))
print("size:  {}".format(ser_1.size))
print("\na few random values:\n{}".format(ser_1.sample(n=3) ))
print("\nautocorrelation coefficient: {}".format(ser_1.autocorr()))

number of unique values:  28
monotonic?  False
time series:  True
any NaN?  False
size:  88

a few random values:
date
2017-02-28    0
2017-04-11   -9
2017-02-07   -9
dtype: int64

autocorrelation coefficient: -0.09808022130695146